div {
    width: 100px;
    height: 100px;
    background-color: gray;
}

#box1 {
    position: relative;
}

#box2 {
    background-color:  royalblue;
    position: sticky;
    top: 50px;
    left: 50px;
}


img {
    width: 25%;
}